.employee-wrapper {
  color: rgba(0, 0, 0, 0.87);
  padding: 20px;
  border: 0;
  display: flex;
  position: relative;
  font-size: 0.875rem;
  min-width: 0;
  word-wrap: break-word;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  border-radius: 6px;
  margin-bottom: 30px;
  margin-top: 100px;
  flex-direction: column;
}

.title-box {
  padding: 15px;
  margin-top: -40px;
  border-radius: 3px;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(255 152 0 / 40%);
  background: linear-gradient(60deg, #ffa726, #fb8c00);
}

.title-box h4 {
  color: #fff;
  margin-top: 0px;
  min-height: auto;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  margin-bottom: 3px;
  text-decoration: none;
}

.user-avatar {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 36px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-items-wrapper {
  background: #ffffff;
  box-shadow: 1px 2px 8px rgb(34 62 98 / 15%);
  border-radius: 8px;
  position: absolute;
  right: 11px;
  top: 64px;
  z-index: 2;
}

.dropdown-selected,
.dropdown-items {
  height: 32px;
  line-height: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  white-space: nowrap;
  padding: 0 8px;
  cursor: pointer;
}

.dropdown-wrapper {
  width: fit-content;
  min-width: 160px;
  position: relative;
  max-height: 200px;
}
